language: R
cache: packages
addons:
       apt:
         update: true
         sources:
           - sourceline: 'ppa:opencpu/imagemagick'
         packages:
           - libmagick++-dev
           - libudunits2-dev
           - libgdal-dev
           - libprotobuf-dev
           - protobuf-compiler
           - libjq-dev